<%= render '/shared/title', title: 'Register'%>
	<div class="well col-md-8 col-md-offset-1">
		<%= form_for @user do |f| %>
		<div class="form-group">
		<%= f.label :name %>
		<br>
		<%= f.text_field :name, :placeholder => "Your Name", class:"col-md-12" %>
		</div><br>
			<div class="form-group">
			<%= f.label :Password %>
      <br>
      <%= f.password_field :password, :placeholder =>"Set 5 digits", class:"col-md-12" %>
      </div>
      <br>
      <%= f.submit(@user.new_record? ? 'Register' : 'Update Profile', class: 'btn btn-primary') %>
    </div>
		<% end %>
	</div>
