<div class="row">
  <div class="well col-md-8 col-md-offset-1">

    <div class="panel panel-primary">
      <div class="panel-heading">
      <h3 class="panel-title"><%= post.title %></h3>
      </div>
      <div class="panel-body">
      <h3><%= post.content %></h3>
      <br>
      <span>
      <%= link_to "Show post", post_path(post) %> |
      <%= render partial: 'categories/category', collection: post.categories %>
      </span>
      <br>
      <small><%= "#{post.created_at}" %> </small>
      </div>
    </div>
  </div>
</div>
