<%= render 'shared/title', title:'Show Post' %>

<div class="row">
  <div class="well col-md-8 col-md-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
      	<h3 class="panel-title"><strong>Title: </strong><%= @post.title %></h3>
    	</div>
    	<div class="panel-body"> 
      <p><%= render partial: 'categories/category', collection: @post.categories %></p>
      <strong>Content: </strong>
      <%= @post.content %>
      <br>
      <p>
  		<strong>Author:
  		<%= @post.user.name if @post.user_id %></strong>
			</p> 

      <br>
      <span>
      <%= link_to 'Edit Post', edit_post_path(@post) %> 
      </span>
    	</div>
  	</div>
</div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
  <h3>All comments: </h3>

  		<% @post.comments.each do |comment| %>
    	<li><strong>"<%= comment.content %>"</strong>
    	from: <%= comment.user.name if comment.user_id %></li>
    	<br>
    	<% end %>
	</div>
</div>

<div class="row">
  <div class="well col-md-6 col-md-offset-1">
    <% if logged_in? %>
      <h4> Leave a comment </h4>
		  <%= form_for [@post, @comment] do |f| %>
      <%= f.text_area :content, class: 'col-md-12' %>
  	   <span><br>
  	 <div class="actions">
  	   <button class="btn btn-primary" type="submit">
   Create Comment </button>
    <% f.submit %>
  	 </div>
		  <br>
      <% end %>

      <% else %>
      <h4> Log in to leave a comment.</h4>
      <%= link_to 'Log in here', login_path %> |
    <% end %>

		<%= link_to 'Back to all posts', posts_path %>
		</span>
		<br>
	</div>
</div>














